@using System.Linq;

@{
    ViewBag.Title = "Afisare utilizatori";
}

<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @foreach (var user in ViewBag.UsersList)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Nume utilizator: @user.UserName</div>
                <div class="panel-body">
                    <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@user.Email</span>
                    <br /><br />
                    @if (@user.PhoneNumber != null)
                    {
                        <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator:<span class="label label-default">@user.PhoneNumber</span>
                        <br /><br />
                    }
                   
                </div>
                <div class="panel-footer">
                    <a class="btn btn-sm btn-success" href="/User/Edit/@user.Id">
                        Editare
                        utilizator
                    </a>
                    <a class="btn btn-sm btn-success" href="/User/Show/@user.Id">
                        Vizualizare
                        utilizator
                    </a>
                </div>
            </div>
        }
    </div>
</div>
