
@{
    /**/

    ViewBag.Title = "Show";
}

<div class="panel panel-primary">

    <div class="panel-heading">Afisare intrebare</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Article.ArticleName</div>
            <div class="panel-body">
                <p>@ViewBag.Article.ArticleContent</p>
                <p>Data creere: @ViewBag.Article.ArticleDate</p>
                <p>Categoria: @ViewBag.Article.Category.CategoryName</p>
            </div>
            <div class="panel-footer">
                <form method="get" style="display:inline-block" action="/Article/Edit/@ViewBag.Article.ArticleId">
                    <button type="submit" class="btn btn-success btn btn-sm">Editeaza articolul</button>
                </form>

                <form method="post" style="display:inline-block" action="/Article/Delete/@ViewBag.Article.ArticleId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-success btn btn-sm">Sterge articolul</button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="/Article/Index">Inapoi la Index</a>
    </div>
</div>